<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>eShop</title>
</head>
<body>
  <div id="app">
    <header>
      <!--Область ввода. Привязана переменная searchLine (все что указали в input, попадает в эту переменную).   -->
      <input type="text" class="goods-search" v-model="searchLine" />
      <!--Кнопка поиска. Привязан метод фильтрации onSearch (срабатывает при клике).-->
      <button class="search-button" type="button" v-on:click="onSearch">Искать</button>
      <!--Кнопка корзины. Привязан метод onToggleCart, отрисовывая модальное окно (срабатывает при клике).  -->
      <button class="cart-button" type="button" v-on:click="onToggleCart">Корзина</button>
    </header>
    <main>
      <div class="goods-list">
        <!-- Проверяем список на наличие товаров-->
        <template v-if="this.filteredGoods.length > 0">
          <div class="good-card" v-for="good of filteredGoods" v-bind:key="good.id_product">
            <h2 v-on:click="addToCart(good)">{{ good.product_name }}</h2>
            <p>${{ good.price }}</p>
          </div>
        </template>
        <template v-else >
          <!--Выводим при отсутствии товаров-->
          <h2>Список пуст</h2>
        </template>
        
      </div>
    </main>
    <!-- Модальное окно. Изначально не отрисовывается, при клике становиться видимым.-->
    <div class="modal" v-if="isVisibleCart">
      <!--Закрываем модальное окно, с помощью метода onToggleCart (при клике на крестик).-->
      <span class="close" v-on:click="onToggleCart">X</span>

      <div class="goods-list">
        <div class="good-card" v-for="good of cart" v-bind:key="good.id_product">
          <h2>{{ good.product_name }}</h2>
          <p>${{ good.price }}</p>
          <!--При клике на крестик удаляем товары из корзины методом removeFromCart.-->
          <button v-on:click="removeFromCart">Х</button>
        </div>
        <template v-if="this.cart.length == [0]">
          <h3>Нет данных</h3>
        </template>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>